# Sparkasse Umsatzwecker -> Money
SPARKASSE_MAIL_ENABLED=false
SPARKASSE_IMAP_HOST=IMAP_HOST_AUS_PLESK
SPARKASSE_IMAP_PORT=993
SPARKASSE_IMAP_SECURE=true
SPARKASSE_IMAP_USER=umsatzwecker@dnd-tools.de
SPARKASSE_IMAP_PASS=CHANGE_ME
SPARKASSE_IMAP_MAILBOX=INBOX
SPARKASSE_POLL_INTERVAL_MS=180000
